<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ page.root }}styles/main.css" type="text/css" media="screen, print" charset="utf-8">

    <meta http-equiv="Content-language" content="cs">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Kompletní návrhy a realizace vodovodních, topenářských, plynových a kanlizačních rozvodů">
    <meta name="keywords" content="voda, vodo, vodoinstalace, topení, topenářství, topeni, topo, plyn, plynofikace, odpad, kanalizace, instalater, instalace, rozvody, Olomouc, Šternberk, Sternberk, Přerov, prerov, Prostějov, prostejov, Hněvotín, Hnevotin, Bohuňovice, Bohunovice">
</head>
<body>
<div id="root">
    <div id="logo">
        <span class="vodo">VODA</span>
        <span class="topo">TOPENÍ</span>
        <span class="plyn">PLYN</span>
    </div>
    <div id="logo">
        <div>
        <a class="inst" href="{{ page.root }}kontakt">Jiří Opichal</a>
        </div>
        <div>
        tel: 604 702 663
        </div>
        <div>
        e-mail: <a class="inst" href="mailto:Ji\u0159\u00ED Opichal - VODA-TOPEN\u00CD-PLYN &lt;opichal.jiri@centrum.cz&gt;">opichal.jiri@centrum.cz</a>
        </div>
        TOPENÍ
    </div>

    <p>
    <div id="contact">
        <img src="{{ page.root }}images/auto-celo.jpg" alt="auto opichal"/>
    </div>
    </p>
{{ content }}
</div>
</body>
</html>
